/* 
nav: gap 44px
nav-padding: 10px
nav-icon: height-45px


general-padding: 50px 0;
padding in the header input box: 16px

grid-gap: 24px

color:
#FF5400,
#131318,
#424247,
#F3F3F3

line-height: 26px
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #5a5a5d;
  overflow-x: hidden;
}
.bd {
  border: 2px solid palevioletred;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
a {
  text-decoration: none;
  color: #424247;
}
.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.pt-50 {
  padding-top: 5rem;
}
.pb-50 {
  padding-bottom: 5rem;
}

/********************
        Header
*********************/
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}
.icon img {
  width: 5.6rem;
  height: 4.5rem;
}
.icon {
  display: flex;
  align-items: center;
  width: 30rem;
  gap: 1rem;
}
.icon p {
  color: #131318;
  font-family: Mulish;
  font-size: 3.6rem;
  font-weight: 800;
}
.icon p span {
  color: #ff5400;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 4.4rem;
}

.icon__link a {
  font-size: 1.8rem;
  font-weight: 700;
}
.icon__link a:active,
.icon__link a:hover {
  color: #ff5400;
}
.mobile__nav__icon {
  stroke: #131318;
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  /* visibility: hidden;
  opacity: 0;
  pointer-events: none; */
}

/* banner section */
.header__banner {
  width: 100%;
  padding: 10.6rem 0;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group 13 .png");
  background-size: cover;
  background-position: center;
  border-radius: 1.6rem;
  text-align: center;
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}
.banner__content h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;

  font-weight: 800;
}
.banner__content p {
  color: #fff;
  max-width: 676px;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.input__box {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}
.input__box__form {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.input__box__form input,
.input__box__form select,
.input__box__form button {
  width: 100%;
}
.input__box__form input,
.input__box__form select {
  border: none;
  outline: none;
  color: #13131880;
  font-size: 16px;
  font-weight: 400;
  padding: 1.6rem;
  border-radius: 8px;
}

.input__box__form button {
  border: none;
  outline: none;
  background: #ff5400;
  color: #fff;
  border-radius: 8px;
  padding: 1.6rem 0;
  font-weight: 700;
}

.article__popular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}
.article__popular__textbox {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  /* justify-content: center; */
  /* align-items: center; */
}
.article__popular__textbox h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.article__popular__textbox p {
  max-width: 577px;
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.article__popular__textbox ul {
  list-style-type: unset;
  padding: 0 38px 0 32px;
}
.article__popular__textbox ul li {
  color: #131318b3;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.button--primary {
  border: none;
  outline: none;
  background: #ff5400;
  color: #fff;
  border-radius: 8px;
  padding: 1.4rem 3.4rem;
  font-weight: 800;
}
.portfolio__textbox {
  text-align: center;
}
.portfolio__textbox h3 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.portfolio__textbox p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 24px;
  width: 643px;
}

.portfolio__gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
}
.portfolio__gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.portfolio__gallery > div > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;

  font-weight: 800;
}
.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 10px;
  grid-auto-flow: row;
  max-height: 30vh;
  margin-top: 48px;
}

.a {
  grid-area: 1 / 1 / 2 / 7;
}

.b {
  grid-area: 1 / 7 / 2 / 13;
}

.c {
  grid-area: 2 / 1 / 3 / 5;
}

.d {
  grid-area: 2 / 5 / 3 / 10;
}

.e {
  grid-area: 2 / 10 / 3 / 13;
}

.f {
  grid-area: 3 / 1 / 4 / 6;
}

.g {
  grid-area: 3 / 6 / 4 / 13;
}

.a,
.b,
.c,
.d,
.e,
.f,
.g img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.g,
.f {
  height: 60%;
}
/* .g img {
  height: 65%;
}

.e img {
  height: 97.5%;
} */

/* mobile responsive */
@media (max-width: 37.5em) {
  .container {
    padding: 3.2rem 2.4rem;
  }
  .button--primary {
    font-weight: 700;
  }
  /* navbar */
  .mobile__nav__icon {
    display: block;
  }
  .full__nav {
    display: none;
  }
  /* banner */
  .input__box__form {
    justify-content: center;
    flex-direction: column;
  }
  .banner__content h1 {
    font-size: 2.2rem;
  }
  .banner__content p {
    font-size: 1.4rem;
    width: 30.4rem;
  }

  /* popular article */
  .article__popular {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }
  .article__popular__textbox h3 {
    font-size: 2rem;
  }
  .article__popular__textbox p {
    font-size: 14px;
    line-height: 24px; /* 162.5% */
  }
  .article__popular__textbox ul li {
    font-size: 14px;
    line-height: 24px;
  }
  /* portfolio section */
  .portfolio__textbox h3 {
    font-size: 20px;
  }
  .portfolio__textbox p {
    font-size: 14px;
    line-height: 24px;
    width: 309px;
  }

  /* portfolio gallery */
  .portfolio__gallery {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .a {
    grid-area: 1 / 1 / 2 / 13;
  }

  .b {
    grid-area: 2 / 1 / 3 / 13;
  }

  .c {
    grid-area: 3 / 1 / 4 / 13;
  }

  .d {
    grid-area: 4 / 1 / 5 / 13;
  }

  .e {
    grid-area: 5 / 1 / 6 / 13;
  }

  .f {
    grid-area: 6 / 1 / 7 / 13;
  }

  .g {
    grid-area: 7 / 1 / 8 / 13;
  }

  .g,
  .f {
    height: 100%;
  }
  .portfolio__gallery > div > p {
    font-size: 20px;
    word-break: keep-all;
  }
}
