/* 
nav: gap 44px
nav-padding: 10px
nav-icon: height-45px


general-padding: 50px 0;
padding in the header input box: 16px

grid-gap: 24px

color:
#FF5400,
#131318,
#424247,
#F3F3F3

line-height: 26px
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #5a5a5d;
  overflow-x: hidden;
}
.bd {
  border: 2px solid palevioletred;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #424247;
}
.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.pt-50 {
  padding-top: 5rem;
}
.pb-50 {
  padding-bottom: 5rem;
}

/********************
        Header
*********************/
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}
.icon img {
  width: 5.6rem;
  height: 4.5rem;
}
.icon {
  display: flex;
  align-items: center;
  width: 30rem;
  gap: 1rem;
}
.icon p {
  color: #131318;
  font-family: Mulish;
  font-size: 3.6rem;
  font-weight: 800;
}
.icon p span{
  color: #FF5400;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 4.4rem;
}

.icon__link a {
  font-size: 1.8rem;
  font-weight: 700;
  
}
.icon__link a:active,
.icon__link a:hover {
  color: #FF5400;
}
.mobile__nav__icon{
  stroke: #131318;
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  /* visibility: hidden;
  opacity: 0;
  pointer-events: none; */
}

/* banner section */
.header__banner {
  width: 100%;
  padding:10.6rem 0;
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
    url("./Images/Group 13 .png");
  background-size: cover;
  background-position: center;
  border-radius: 1.6rem;
  text-align: center;

}

.banner__content{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}
.banner__content h1{
  color: #FFF;
font-family: Mulish;
font-size: 64px;

font-weight: 800;

}
.banner__content p{
  color: #FFF;
  max-width:  676px;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.input__box{
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  padding: 16px;
}
.input__box__form{
  display: flex;
  gap: 2.4rem;
  align-items: center;

}

.input__box__form input,
.input__box__form select,
.input__box__form button{
width: 100%;
}
.input__box__form input,
.input__box__form select{
  border: none;
  outline: none;
  color: #13131880;
  font-size: 16px;
  font-weight: 400;
  padding: 1.6rem ;
  border-radius: 8px;
}

.input__box__form button{
  border: none;
  outline: none;
  background: #FF5400;
  color: #FFF;
  border-radius: 8px;
  padding: 1.6rem 0;
  font-weight: 700;
}

/* mobile responsive */
@media (max-width: 37.5em) {
  .container {

    padding: 3.2rem 2.4rem ;
  }
  .mobile__nav__icon{
    display: block;
  }
  .full__nav{
    display: none;
  }
  .input__box__form{

    justify-content: center;
    flex-direction: column;
  
  }
  .banner__content h1{
    font-size: 2.2rem;
  }
  .banner__content p{
    font-size: 1.4rem;
    width: 30.4rem;
  }
}